.AutoSuggest{
  background-color: white ;
  border-style: solid;
  box-shadow: currentColor;
  border-width: 0;
  border-color: #E8E8E8;
  font-weight: bold;
  vertical-align: middle;
  font-size: 20px;
  max-width: 800px;
  line-height: 20px;
  color: #FF1493;
  height:50px;
  outline: none;
text-align: top;

}

.Defaultitem{
  background-color: white ;
  border-style: solid;
  box-shadow: currentColor;
  border-width: 1px;
  border-color: #E8E8E8;
 
  vertical-align: middle;
  font-size: 20px;
  max-width: 800px;
  line-height: 20px;
  color: grey;
  height:30px;
  outline: none;
text-align: top;

}

.AutoSuggest:hover{
  background-color:   #C8C8C8;
  cursor: pointer;
}


.CityInput{
  padding: 5px;
  border-color: #E8E8E8;
  outline:none;
  max-width: 800px;
  margin-top: 40px;
  border-width: 0;
  height: 50px;
  padding-left: 10px;
}



.AutoSuggestloc{
  padding: 5px;
  max-width: 100%;
  size: 5px;
  color: teal;
}

.Headtitle{
  color: white;
  margin-top: 20px;
  margin-left: 80px;
  
  font-style: normal;
}



@keyframes example {
  0% {color: white; margin-left: 20px;}
  50% {color: #f2fc95;margin-left: 80px}
  100% {color: white;margin-left: 20px}
   }

.Headtitle {
 
  color: white;
  animation-name: example;
  animation-duration: 600s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
}

.myflex{
  display: inline-flex;
}


.Defaultsearch{


   background-color: white ;
  border-style: solid;
  box-shadow: currentColor;
  border-width: 1px;
  border-color: #E8E8E8;
  padding-left: 10px;
  
  vertical-align: middle;
  font-size: 20px;
  max-width: 800px;
  line-height: 20px;
  color: grey;
  height:30px;
  outline: none;
text-align: top;

}



